<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>助けて</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
    <%- include('navbar.ejs') %>
    <% if(info && info.length) { %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <%= info %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>  
        <div class="container map-container">
            <div id="map" style="width: 100%; height: 85vh; border-radius: 0.5%;"></div>
            <script>
                const mapboxToken = "<%= mapboxToken %>"
                const requests = <%- JSON.stringify(requests) %>;
                let userId = -1
                <% if (currentUser != null) { %>
                userId = <%- JSON.stringify(currentUser._id) %>
                <% } %>
            </script>
            <script src="../scripts/mapboxConfig.js"></script>
            <script>
                map.on('load', () => {
                    for(let request of requests)
                    {
                        const deleteHtml = (userId == request.author._id) ? 
                            `<form action="/${request._id}/delete?_method=DELETE" method=POST>
                                <button class="btn btn-danger btn-sm" style="padding: 0.5px;">Delete</button>  
                            </form>` : ``
                        const volunteerHtml = (userId != request.author._id && userId != -1  )  ? 
                            `<br>
                            <form action="/${request._id}/volunteer?_method=PUT" method=POST>
                                <button class="btn btn-info btn-sm" style="padding: 0.5px;">Volunteer</button>  
                            </form>` : ``
                        const linkHtml = `<a href="/requests/${request._id}">More Info </a>`     
                        let markerPopup = new mapboxgl.Popup({offset: 25})
                        .setHTML(`<b>${request.title} </b> by ${request.author.username} <br> 
                                    Details: ${request.description}<br>
                                    Volunteers:${request.volunteers.length} <br>`
                                    + deleteHtml + volunteerHtml + linkHtml)
                        const marker = new mapboxgl.Marker((userId == request.author._id) ? { color: "red" } : { color: "#5423F6" })
                            .setLngLat([request.longitude,request.latitude])
                            .setPopup(markerPopup)
                            .addTo(map)
                    }
                })
            </script>
        </div>
        
          
</body>

</html>